{% extends 'backend/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>

  {% block title %}
  Change password
  {% endblock %}

  {% block content %}

   <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <div class="login-logo">
              <img src="{% static 'final_app/img/logo.png' %}">
            </div>
            <div class="login-form">
                 <h3>Change Password</h3>
                <p class="bg bg-success">{% if messages %}</p> 
                  {% for message in messages %} 
                    <div class="alert alert-success">{{ message }}</div> 
                  {% endfor %}
                {% endif %} 
            <form method="post"> 
              {% csrf_token %} 
               {{ pass_key|crispy }} 
              <input type="submit" value="Change Password" class="btn btn-success">
              <div class="footer">
               <a href="{% url 'final_app:index'%}" id="back">Back to main site</a>
              </div> 
              </form>
                </div>
              </div>
          </div>
        </div>
    {% endblock %}